* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: background 0.3s ease;
}

.app-container.light {
  background-color: white;
  color: black;
}

.app-container.dark {
  background-color: black;
  color: white;
}

.theme-toggle {
  background-color: transparent;
  border: 1px solid black;
  width: 100px;
  height: 35px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.theme-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.error-text {
  font-size: 12px;
  color: red;
}
